body{
    padding-bottom:100px;
    margin: 0;
    padding: 0;
    height: 1000px;

  }

  .num {
    margin: 0;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 99;
    color: white;
}

  .start {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
    text-align: center;
  }

  .start p {
    position: fixed;
    display: none;
    z-index: 9999;
    width: 280px;
  }

  #start img{
    position: relative;
    width: 70vmax;
    height: 70vmax;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
  }


  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color:skyblue ;
    background:rgba(255,255,255,0.3);
    color: aliceblue;
    width: 80vw;
    text-align: center;
  }

  .sticky img{
      width: 70vw;
  }
  .sticky_container{
    border:6px solid white;
    margin: 0 auto;
    width: 80vw;
    background-image: url("img/haikei_light.png");
    background-size: 80vw;
  }

  p{
    height:1000px;

  }

  #title img{
    width: 70vh;
    height: 70vh;
  }
  #title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #movie-page{
      text-align: center;
      height: 50vw;
  }

  #movie{
    width: 64vw;
    height: 36vw;
    z-index: 7;
  }

  #image{
      width: auto;
      height: auto;
  }

#right_side{
    right: 0vw;
    width: 10vw;
    position: fixed;
}

#right_side img{
  width: 100%;
}

#left_side{
    left: 0vw;
    width: 10vw;
    position: fixed;
}

#left_side img{
  width: 100%;
}

#footer{
    background-color: aqua;
}

.particle{
    opacity: 0.4;
    width: 3vw;
    position: fixed;
    z-index: 5;
}

#particle1{
  left: 10%;
}

#particle2{
  right: 40%;
}

#h1{
  text-align: center;
}

.center{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
